
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @{
        ViewBag.Title = "Search";
    }

    
    <div @*class="container"*@>
        <div class="row">

            <div class="col-xs-4 col-md-4">
                @* Player, user: lucas, playlist: irgendeine;
                    es können auch private Playlisten abgespielt werden, wenn ID vorhanden ist. *@
                
                <iframe id="player" src="https://embed.spotify.com/?uri=spotify:user:1183190218:playlist:0g53anSYslUyq9RM0e7VKA" frameborder="0" allowtransparency="true"></iframe>
            </div>

            <div class="col-xs-8 col-md-8">

                <p>
                    <!-- Search is your action and Events is your controller -->
                    @using (Html.BeginForm("Search", "Events"))
                    {
                        @Html.TextBox("search")
                        <input class="btn btn-1 btn-1a" type="submit" value="Search" />
                    }
                </p>


                @model SpotifyAPI.Web.Models.SearchItem

                <p><div class="fontHead">Artists: </div></p>
                @foreach (var item in Model.Artists.Items)
                {
                    <div class="fontSub">@item.Name.ToString() </div>
                }
                <br />
                <p><div class="fontHead">Albums: </div></p>
                @foreach (var item in Model.Albums.Items)
                {
                    <div class="fontSub">@item.Name.ToString() </div>
                }
                <br />
                <p><div class="fontHead">Tracks: </div></p>
                @foreach (var item in Model.Tracks.Items)
                {
                    <div class="fontSub">@item.Name.ToString()</div>
                }


            </div>

        </div>
    </div>

    
    

</body>
</html>
